@import '@/styles/colors';

.fieldLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: $color-dark;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  align-items: center;
  color: $color-gray-dark;

  svg {
    width: 16px;
    height: 16px;
  }
}

.text {
  flex: 1;
}

.required {
  color: $color-error;
  font-weight: 600;
}
