.searchAndFilters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
  }
}

.searchBox {
  flex: 1;
}

.genreSelector {
  min-width: 200px;

  @media (max-width: 1023px) {
    min-width: auto;
  }
}
