@import '@/styles/colors';

.loginForm {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.loginSection {
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px $color-dark-alpha-10;
  padding: 30px;
  min-width: 50vw;
}

.loginInfoWrapper:not(:first-child) {
  margin-top: 20px;
}