@import '@/styles/colors';

.input {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  outline: none;
  background-color: $color-light-gray;
  color: $color-dark;
  padding: 16px;
  height: 56px;
  font-weight: normal;
  line-height: normal;

  @media (min-width: 1024px) {
    background-color: $color-white;
    border: 1px solid $color-gray-border;
    border-radius: 4px;
  }

  &::placeholder {
    color: $color-gray;

    @media (min-width: 1024px) {
      color: $color-gray-light;
    }
  }

  &:focus {
    outline: none;

    @media (min-width: 1024px) {
      border: 1px solid $color-dark;
    }
  }

  &.error {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
      box-shadow: 0 0 0 3px $color-shadow-light;
    }
  }

  &.primary {
    // Default styling is now the primary variant
  }

  &.search {
    padding: 10px 16px;
    background-color: $color-light;
    border-color: $color-light;

    &::placeholder {
      color: $color-gray;
    }

    &:focus {
      border: 1px solid $color-primary;
      box-shadow: 0 0 0 3px $color-primary-alpha;
    }
  }
}
