@import '@/styles/colors';

.textarea {
  width: 100%;
  min-height: 144px;
  max-height: 300px;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.4;
  font-family: inherit;
  background-color: $color-light-gray;
  color: $color-dark;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  resize: vertical;
  overflow-y: auto;

  @media (min-width: 1024px) {
    min-height: 120px;
    max-height: 250px;
    background-color: $color-white;
    border: 1px solid $color-gray-border;
    border-radius: 4px;
    line-height: 1.5;
  }

  &:focus {
    outline: none;

    @media (min-width: 1024px) {
      border: 1px solid $color-dark;
    }
  }

  &::placeholder {
    color: $color-gray;

    @media (min-width: 1024px) {
      color: $color-gray-light;
    }
  }

  &.error {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
      box-shadow: 0 0 0 3px $color-shadow-light;
    }
  }

  &:disabled {
    background-color: $color-light-gray;
    color: $color-gray-dark;
    cursor: not-allowed;
  }
}
